/* Global */

.uk-text-primary {
  color: #ff6600;
}

/* Header */

.logo {
  min-width: 30px;
  min-height: 30px;
  max-height: 30px;
  color: #fff !important;
  background: #ff6600;
  line-height: 30px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
}

/* Footer */

/* To Top */

.to-top {
  position: fixed;
  bottom: 10px !important;
  right: 10px !important;
}

.to-top>svg {
  display: none !important;
}